<div class="relative p-2 grid grid-cols-3 gap-2 w-full" style="height: calc(100vh - 80px);">
    {{!-- Products --}}
    <div class="col-span-2 bg-white h-full rounded-lg p-2 overflow-scroll overflow-x-hidden">
        {{!-- Category product --}}
        <div>
            <table class="w-full text-base">
                <tr class="grid grid-cols-4">
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 15 Series
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 14 Series
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 13 Series
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 12 Series
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 11 Series
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone XS | XSMax
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone X | XR
                    </td>
                    <td class="hover:bg-gray-400 hover:text-white cursor-pointer">
                        Iphone 7 | 8 Series
                    </td>
                </tr>
            </table>
        </div>
        <br>
        {{!-- Items --}}
        <div class="grid grid-cols-6 gap-3">
            {{#each loop}}
                <div class="relative flex justify-center text-center cursor-pointer p-2 border rounded-lg">
                    <div>
                        <img src="https://www.apple.com/v/iphone/home/bp/images/overview/compare/compare_iphone_15_pro__c344odaqs5qq_large.png"/>
                        <h2 class="font-semibold text-xl">Iphone 15 Pro</h2>
                        <span class="text-base">Từ 28.990.000đ</span>
                    </div>
                    <div class="absolute w-full h-full opacity-30 top-0 hover:bg-gray-400 rounded-lg">

                    </div>
                </div>

            {{/each}}

        </div>
    </div>
    {{!-- Order list --}}
    <div class="bg-white h-full rounded-lg">
        Order list
    </div>
</div>