<div class="h-16 flex justify-between items-center bg-white pr-3 relative">

    <div class="flex w-full items-center">
        {{!-- Search --}}
        <div class="xl:w-1/3 w-1/2  h-10 rounded-full overflow-hidden">
            <form class="bg-gray-100 px-1 flex items-center">
                <input 
                    type="text" 
                    class="bg-gray-100 h-10 w-full min-w-fit border-none ml-2 outline-none text-base" 
                    placeholder="Search products..."/>
                    
                {{!-- Submit --}}
                <button class="px-5 h-8 rounded-full hover:bg-gray-400 hover:text-white"> 
                    <i class="fa-solid fa-magnifying-glass "></i>
                </button>
            </form>
        </div>
    </div>

    {{!-- Right option --}}
    <div class="flex gap-5">
        {{!-- Language --}}
        <div class="h-10 w-10 text-2xl text-black rounded-md cursor-pointer flex items-center justify-center hover:bg-gray-400 hover:text-white"> 
            <i class="fa-sharp fa-solid fa-globe"></i>
        </div>

        {{!-- Full Screen --}}
        <div
            class="h-10 w-10 text-2xl text-black rounded-md cursor-pointer flex items-center justify-center hover:bg-gray-400 hover:text-white"
            id="fullscreenButton"
        > 
            <i class="fa-solid fa-expand"></i>
        </div>

        {{!-- Mail --}}
        <div class="h-10 w-10 text-2xl text-black rounded-md cursor-pointer flex items-center justify-center hover:bg-gray-400 hover:text-white"> 
            <i class="fa-regular fa-envelope"></i>
        </div>
         {{!-- Notify --}}
        <div class="h-10 w-10 text-2xl text-black rounded-md cursor-pointer flex items-center justify-center hover:bg-gray-400 hover:text-white"> 
            <i class="fa-regular fa-bell"></i>
        </div>
    </div>
</div>

