<div class="w-full h-20 flex items-center bg-white px-3 relative">
    {{!-- Logo --}}
    <div class="mr-10">
        <img 
            class="w-20 rounded" 
            src="/images/logo.png"/>          
    </div>

    {{!-- Search --}}
    <div class="w-1/4 rounded-md overflow-hidden">
        <form class="bg-gray-100 flex items-center">
            <input 
                type="text" 
                class="bg-gray-100 h-12 w-full border-none ml-2 outline-none text-lg" 
                placeholder="Search products..."/>
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>

    <div>

    </div>
</div>