<div class="max-w-md mx-auto bg-white rounded p-8 shadow-md">
  <h1 class="text-2xl font-semibold mb-6">Set Password</h1>

  <!-- Employee Form -->
  <form id="employeeForm" method="POST" action="/login/set-password" class="space-y-4">
    <input name="token" value={{token}} type="text" class="hidden">
    <!-- Password -->
    <div>
      <label for="password" class="block text-sm font-medium text-gray-600">Enter Password</label>
      <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md" required>
    </div>

    <!-- Again -->
    <div>
      <label for="re-password" class="block text-sm font-medium text-gray-600">Enter again password</label>
      <input type="password" id="re-password" name="re-password" class="mt-1 p-2 w-full border rounded-md" required>
    </div>

    <span id="message" class="text-red-500" style="display: none;">Passwords do not match.</span>

    <!-- Submit Button -->
    <div>
      <button type="submit" id="submitButton" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" disabled>Create Employee</button>
    </div>
  </form>

  <!-- Result Message -->
  <div id="result" class="mt-4"></div>

  <script>
    const passwordField = document.getElementById('password');
    const rePasswordField = document.getElementById('re-password');
    const submitButton = document.getElementById('submitButton');
    const messageSpan = document.getElementById('message');

    // Function to check if passwords match
    function checkPasswordMatch() {
      const password = passwordField.value;
      const rePassword = rePasswordField.value;

      if (rePassword === '' || password !== rePassword) {
        submitButton.disabled = true;
        messageSpan.style.display = 'inline-block';
      } else {
        submitButton.disabled = false;
        messageSpan.style.display = 'none';
      }
    }

    // Event listener for 'Again' password field input
    rePasswordField.addEventListener('input', checkPasswordMatch);
  </script>
</div>
