<h1 class="font-bold text-2xl text-center">Add a Product</h1>
<div class="">
            <div class="m-5">
                    <form method="post" action="/admin_product/product_store" enctype="multipart/form-data">
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="product_name">Name</label>
                    <input type="input" class="form-control" id="product_name" name="product_name" placeholder="Name">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="series">Series</label>
                    <input type="input" class="form-control" id="series" name="series" placeholder="Series">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="inventory_quantity">Quantity</label>
                    <input type="input" class="form-control" id="inventory_quantity" name="inventory_quantity" placeholder="Quantity">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="link_product">Link Product</label>
                    <input type="input" class="form-control" id="link_product" name="link_product" placeholder="Link Product">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="barcode">Barcode</label>
                    <input type="input" class="form-control" id="barcode" name="barcode" placeholder="Barcode">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="importPrice64">Import Price (64GB):</label>
                    <input type="text" id="importPrice64" name="import_price[64]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="importPrice128">Import Price (128GB):</label>
                    <input type="text" id="importPrice128" name="import_price[128]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="importPrice256">Import Price (256GB):</label>
                    <input type="text" id="importPrice256" name="import_price[256]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="importPrice512">Import Price (512GB):</label>
                    <input type="text" id="importPrice512" name="import_price[512]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="retailPrice64">Retail Price (64GB):</label>
                    <input type="text" id="retailPrice64" name="retail_price[64]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="retailPrice128">Retail Price (128GB):</label>
                    <input type="text" id="retailPrice128" name="retail_price[128]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="retailPrice256">Retail Price (256GB):</label>
                    <input type="text" id="retailPrice256" name="retail_price[256]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="retailPrice512">Retail Price (512GB):</label>
                    <input type="text" id="retailPrice512" name="retail_price[512]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg">
                    <label for="colors">Colors</label>
                    <input type="text" id="colors" name="colors" value="Black, White, Gold" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="link_image">Image</label>
                    <input type="file" class="form-control" id="link_image" name="link_image" placeholder="Image">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="screen">Screen:</label>
                    <input type="text" id="screen" name="configuration[screen]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="OS">OS:</label>
                    <input type="text" id="OS" name="configuration[OS]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="camera_font">Font Camera:</label>
                    <input type="text" id="camera_font" name="configuration[camera_font]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="camera_back">Back Camera:</label>
                    <input type="text" id="camera_back" name="configuration[camera_back]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="chip">Chip:</label>
                    <input type="text" id="chip" name="configuration[chip]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="ram">Ram:</label>
                    <input type="text" id="ram" name="configuration[ram]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="sim">Sim:</label>
                    <input type="text" id="sim" name="configuration[sim]" placeholder="Text">
                    </div>
                    <div class="form-group bg-white m-5 p-3 rounded-lg" placeholder="Text">
                    <label for="pin">Screen:</label>
                    <input type="text" id="pin" name="configuration[pin]" placeholder="Text">
                    </div>
                    <button type="submit" class="btn btn-primary w-full h-18 hover:bg-green-500 hover:text-black bg-green-200 rounded-lg text-xl">Submit</button>
                    </form>
            </div>
</div>