<head>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<div class="bg-red-100 border-t-4 border-black-500 rounded-b px-4 py-3 shadow-md alert-red-danger" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
    <div>
      <p class="font-bold">
        Error - Please Fix</p>
      <p class="text-sm">{{error}}</p>
    </div>
  </div>
</div>


<br>



<!--Next Alert -->
<div class="bg-primary-quvi border-l-4 border-orange-500 p-4" role="alert">
  <p class="font-bold">
    <i class="fa-solid fa-info-circle"></i>
    INFORMATION</p>
  <p>Please note that the 'Description' & 'Amount' field values are not changeable. You may change the headings but note the values taken from these fields must remain the same.  </p>
</div>